<div id = "main-container" class = "container">
	<br><div id="row">
			<a href="/" class="btn btn-info" role="button">Home</a>
		</div><br><br>
	<div class="row-fluid">
		<div class="container text-center">
			<img src = "https://avatars1.githubusercontent.com/u/10660191?v=3&s=460" alt="header"  height="300" width="300">
		</div>
	</div>
 	<div class="row-fluid">
	 	<div class = "container">
			<h4>Hi, I'm Duke</h4>
			<p>welcome to my website. I built it as a space where I can post my writings in different languages, and data analyses.</p>
			<p><strong>Languages</strong> have been a fascinating subject for me for the past two years, and I have been practicing Spanish and Mandarin Chinese whenever I seize an opportunity - 老师's appointment or a burrito order in burro picante. My passion for polyglot-ism started ever since I finished my military service. I remember I had always been content with being a bilingual, but the two years spent ostrcized really gave me the incentive to go and learn what I can from different cultures and languages. As I was learning Spanish in Colombia, it served me so well as the open door towards Colombian culture and people's life, and Mandarin has been the same, incredible experience so far.</p>

			<p><strong>Computer/Data Science</strong> is another fledgling passion of mine. As my github date of joining shows, I have learned how to code from only a year and a half ago,  when I came back to UC Berkeley from 2 year hiatus and took CS61A course. I think that the mastery of using computer, NOT as a facebook/youtube viewer, but as a powerful machine that you can boss around, and delegate much of intellectual labor. I have spent the majority of the couple years as a coder with Java and Python, but I am getting the hang of Ruby on Rails and R, as I prepare this website and data analyses/visualisations with R ggplot.</p>
		</div>
	</div>
</div>