<a href="/">Home</a>
<br><br>
<h1>Food World Cup</h1>
<p>Below is the link to the data analysis & visualisation of the data "food-world-cup", provided as an open-source data set by fivethrityeight.com. The plotted figures show that there exists almost linear inverse relationship between obscurity of a cuisine and its popularity. Upon segmentation with 3 dimensions - income, culinary skills/knowledge - we can see from the graphs there exist three different groups cuisines - absolutely unknown regional (Cameroon, Croatia), cuisines relatively relatable for Americans. This is corroborated by the concentration of Latin American cuisines in this group. The last groups are the qualifiers for the knock out rounds, the popular cuisines of Japan and Spain to Italy and Mexican.</p>
<%= button_to "Food World Cup", "http://github.com/sunghoonyang/analysisPortfolio/tree/master/foodWorldCup", :method => "get" %>