<div id = "main-container" class = "container">
<br><div id="row">
		<a href="/" class="btn btn-info" role="button">Home</a>
	</div><br><br>
<!-- food world cup -->	
	<div id="row">
		<div id = "content">
			<h1>Food World Cup</h1>
			<p>Below is the link to the data analysis & visualisation of the data "food-world-cup", provided as an open-source data set by fivethirtyeight.com. The plotted figures show that there exists almost linear inverse relationship between obscurity of a cuisine and its popularity. Upon segmentation with 3 dimensions - income, culinary skills/knowledge - we can see from the graphs that people gave markedly different scores to three different groups. The first is absolutely unknown regional (Cameroon, Croatia) cuisines, and the second group is cuisines relatively relatable to Americans, such as Latin American and Vietnamese cuisines. The last group is the qualifiers for the knock out rounds, the popular cuisines of Japan and Spain to Italy and Mexican.</p>
			<%= button_to "Food World Cup", "http://github.com/sunghoonyang/analysisPortfolio/tree/master/foodWorldCup", :method => "get" %>
		</div>
	</div><br><br>
<!-- police killing -->	
	<div id="row">
		<div id = "content">
	<h1>Police Killing</h1>
	<p>Below is the link to the data analysis & visualisation of the data "police-killings", provided as an open-source data set by fivethirtyeight.com. Two infographics made with R ggplot2</p>
	<%= button_to "Police Killings", "http://github.com/sunghoonyang/analysisPortfolio/tree/master/policeKilling", :method => "get" %>
		</div>
	</div><br><br>
<!-- marriage -->
	<div id="row">
		<div id = "content">
	<h1>Are You Sleeping Together with Your Partner?</h1>
	<p>Below is the link to the data analysis & visualisation of the data "sleeping-alone-data", provided as an open-source data set by fivethirtyeight.com. <strong>I'm working on this right now</strong></p>
	<%= button_to "Sleeping Alone?", "http://github.com/sunghoonyang/analysisPortfolio/tree/master/marriage", :method => "get" %>
		</div>
	</div><br><br>	
</div>