<div id="main-container" class="container">
	<div id = "row">
		<div class="content">
			<ol class="breadcrumb">
			 	<li><a href="/en">English</a></li>
			 	<li><a href="/es">Español</a></li>
				<li><a href="/cn">中文</a></li>
				<li><a href="/ko">우리말</a></li>
				<li><a href="/gallery">Data Analysis</a></li>
				<li><a href="/about">About Me</a></li>
			</ol>
		</div>
	</div>
	<% Entry.order('created_at DESC').each do |e| %>
		<div class="row">
			<div id="content">
				<%= simple_format e.text %>		 
			</div>
			<%= e.created_at %>
		</div><br>
	<% end %>	
</div>
