<div id = "main-container" class = "container">
<br><div id="row">
		<a href="/" class="btn btn-info" role="button">Home</a>
	</div><br><br>
	<% @entries.each do |e| %>
		<div id = "row">
			<div class = "content">
				<%= simple_format e.text %> 	
			</div>				
			<%= e.created_at %><br>	
		</div>
	<% end %>
</div>